user  {{ nginx_user }} {{ nginx_group }};
worker_processes  {{ nginx_worker_processes }};
error_log   {{ nginx_log_dir }}/error.log  {{ nginx_error_level }};
pid {{ nginx_pid }};
 
events {
    worker_connections  {{ nginx_worker_connections }};
}
 
http {
    include       mime.types;
    default_type  application/octet-stream;
    log_format  main  '$remote_addr - $remote_user [$time_local] $request '
                      '"$status" $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';
 
    sendfile        {{ nginx_sendfile }};
    keepalive_timeout  {{ nginx_keepalive_timeout }};
    gzip  {{ nginx_gzip }};
    server {
            listen          {{ nginx_http_listen }}:{{ nginx_http_port }} default;
            server_name     {{ nginx_server_name }};
            access_log      {{nginx_log_dir}}/access.log main;
            server_name_in_redirect  off;
            location / {
                    index index.html;
                    root  {{ nginx_root_dir }}/nginx;
            }
    }
 
    # virtual hosting
    include {{ nginx_config_dir }}/vhosts/*;
}